{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}
    <h1 class="mb-5" 1>{{ title }} для {{ app.user.userIdentifier }}</h1>
    {{ form_start(form) }}
    <div class="row mb-2">
        <div class="col-md-3">
            <div class="mb-3">
                <h6 class="text-muted">{{ form_label(form.currentPassword) }}</h6>
                {{ form_widget(form.currentPassword, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.currentPassword) }}
            </div>
            <div class="mb-3">
                <h6 class="text-muted">Новый пароль</h6>
                {{ form_widget(form.newPassword.first, {'attr': {'class': 'form-control mb-2'}}) }}
                <h6 class="text-muted">Повторите пароль</h6>
                {{ form_widget(form.newPassword.second, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.newPassword) }}
            </div>
        </div>
    </div>
    <a class="btn btn-outline-info" href="{{ path('main') }}">Назад</a>
    <button type="submit" class="btn btn-success">Изменить</button>
    {{ form_end(form) }}
{% endblock %}


